h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00004C;
    letter-spacing: 4px;
}
#ha1
{
    text-indent: 1%;
}
#ha2
{
    text-indent: 1%;
}
#ha3
{
    text-indent: 1%;
}
h2
{
    font-family: Comic Sans MS ;
    color: #1A1A00;
}
h3
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3D001F;

}